<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements. See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
        rel="stylesheet"
        href="https://unpkg.com/@patternfly/patternfly/patternfly.css"
        crossorigin="anonymous"
    >
    <title>Fruit Store - 1.0-SNAPSHOT</title>
</head>
<body>
<div class="pf-c-page" id="fruit-store">
    <a class="pf-c-skip-to-content pf-c-button pf-m-primary" href="#">Skip to content</a>
    <header class="pf-c-page__header">
        <div class="pf-c-page__header-brand">
            <div class="pf-c-page__header-brand-toggle">
                <button class="pf-c-button pf-m-plain" type="button" id="fruit-store-nav-toggle" aria-label="Global navigation" aria-expanded="true" aria-controls="fruit-store-primary-nav">
                    <i class="fas fa-bars" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </header>
    <div class="pf-c-page__sidebar">
        <div class="pf-c-page__sidebar-body">
            <nav class="pf-c-nav" id="fruit-store-primary-nav" aria-label="Global">
                <ul class="pf-c-nav__list">
                    <li class="pf-c-nav__item">
                        <a href="#" class="pf-c-nav__link pf-m-current" aria-current="page">Fruits</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <main class="pf-c-page__main" tabindex="-1">
        <section class="pf-c-page__main-section pf-m-light">
            <div class="pf-c-content">
                <h1>Fruit store demo</h1>
                <p>Available fruits in the store.</p>
            </div>
        </section>
        <section class="pf-c-page__main-section pf-m-no-padding pf-m-padding-on-xl">
            <div class="pf-c-card">
                <form class="pf-c-inline-edit" id="new-fruit" action="/" method="post">
                    <table class="pf-c-table pf-m-grid-xl" role="grid" aria-label="This is a table with checkboxes" id="page-layout-table-simple-table">
                        <thead>
                        <tr role="row">
                            <th role="columnheader" scope="col">Id</th>
                            <th role="columnheader" scope="col">Name</th>
                            <th role="columnheader" scope="col">Category</th>
                            <th role="columnheader" scope="col">Description</th>
                            <th role="columnheader" scope="col">Tags</th>
                            <th role="columnheader" scope="col">Price</th>
                            <th role="columnheader" scope="col">Status</th>
                            <td role="cell"></td>
                        </tr>
                        </thead>
                        <tbody role="rowgroup">
                        {#for fruit in fruits}
                        <tr class="pf-m-inline-editable" role="row">
                            <th role="columnheader" data-label="Id">
                                <div>
                                    <div id="page-layout-table-simple-table-node1">#{fruit.id}</div>
                                </div>
                            </th>
                            <td role="cell" data-label="Name">
                                <span>{fruit.name}</span>
                            </td>
                            <td role="cell" data-label="Category">
                                <span>{fruit.category.name}</span>
                            </td>
                            <td role="cell" data-label="Description">
                                {#if fruit.description}
                                <span>{fruit.description}</span>
                                {#else}
                                <span>No description</span>
                                {/if}
                            </td>
                            <td role="cell" data-label="Tags">
                                {#if fruit.tags}
                                {#for tag in fruit.tags}
                                <span>[{tag}]</span>
                                {/for}
                                {#else}
                                <span>[]</span>
                                {/if}
                            </td>
                            <td role="cell" data-label="Price">
                                {#if fruit.price}
                                <span>{fruit.price}</span>
                                {#else}
                                <span>0.00</span>
                                {/if}
                            </td>
                            <td role="cell" data-label="Status">
                                <span>{fruit.status}</span>
                            </td>
                            <td class="pf-c-table__inline-edit-action" role="cell" data-label="Action">
                                <div class="pf-c-inline-edit__group pf-m-action-group pf-m-icon-group">
                                    <div class="pf-c-inline-edit__action pf-m-valid">
                                        <button id="view" class="pf-c-button pf-m-plain" type="button" aria-label="View fruit">
                                            <i class="fas fa-search" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="pf-c-inline-edit__action">
                                        <button id="delete" class="pf-c-button pf-m-plain" type="button" aria-label="Delete fruit">
                                            <i class="fas fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {/for}
                        <tr>
                            <td colspan="8"></td>
                        </tr>
                        <tr class="pf-m-inline-editable" role="row">
                            <td role="cell" data-label="Id">
                                <strong>New fruit:</strong>
                            </td>
                            <td role="cell" data-label="Name">
                                <div class="pf-c-inline-edit__value">Name</div>
                                <div class="pf-c-inline-edit__input">
                                    <input class="pf-c-form-control" type="text" value="" id="name" name="name" aria-label="Name" />
                                </div>
                            </td>
                            <td role="cell" data-label="Category">
                                <div class="pf-c-inline-edit__value">Category</div>
                                <div class="pf-c-inline-edit__input">
                                    <select class="pf-c-form-control" id="category" name="category" aria-label="Category">
                                        <option selected value="">Please choose</option>
                                        {#for category in categories}
                                        <option value="{category.name}">{category.name}</option>
                                        {/for}
                                    </select>
                                </div>
                            </td>
                            <td role="cell" data-label="Description">
                                <div class="pf-c-inline-edit__value">Description</div>
                                <div class="pf-c-inline-edit__input">
                                    <input class="pf-c-form-control" type="text" value="" id="description" name="description" aria-label="Description" />
                                </div>
                            </td>
                            <td role="cell" data-label="Tags">
                                <div class="pf-c-inline-edit__value">Tags</div>
                                <div class="pf-c-inline-edit__input">
                                    <input class="pf-c-form-control" type="text" value="" id="tags" name="tags" aria-label="Tags" />
                                </div>
                            </td>
                            <td role="cell" data-label="Price">
                                <div class="pf-c-inline-edit__value">Price</div>
                                <div class="pf-c-inline-edit__input">
                                    <input class="pf-c-form-control" type="text" value="0.00" id="price" name="price" aria-label="Price" />
                                </div>
                            </td>
                            <td role="cell" data-label="Status">
                                <div class="pf-c-inline-edit__value">Status</div>
                                <div class="pf-c-inline-edit__input">
                                    <select class="pf-c-form-control" id="status" name="status" aria-label="STATUS">
                                        <option selected value="PENDING">PENDING</option>
                                        <option value="AVAILABLE">AVAILABLE</option>
                                        <option value="SOLD">SOLD</option>
                                    </select>
                                </div>
                            </td>
                            <td class="pf-c-table__inline-edit-action" role="cell" data-label="Action">
                                <div class="pf-c-inline-edit__group pf-m-action-group pf-m-icon-group">
                                    <div class="pf-c-inline-edit__action pf-m-valid">
                                        <button id="save" class="pf-c-button pf-m-plain" type="button" aria-label="Save edits">
                                            <i class="fas fa-check" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="pf-c-inline-edit__action">
                                        <button id="cancel" class="pf-c-button pf-m-plain" type="button" aria-label="Cancel edits">
                                            <i class="fas fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </section>
    </main>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function() {
        $("#save").click(function( event ) {
            $("#new-fruit").submit();
        });

        $("#cancel").click(function( event ) {
            $("#new-fruit").trigger("reset");
        });
    });
</script>
</html>
